.todo {
    margin: 0;
}

.todo--pending {
    color: #dc3545;
}

.todo--done {
    color: #0d6efd;
    text-decoration: line-through;
}

.todo-form-container {
    display: flex;
}

.todo-form-container .form-select {
    width: auto;
    margin-left: 1rem;

}